.sufee-login {
  margin-top: 50px;
}

.login-form {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.login-form h4 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  border-radius: 5px;
}

.checkbox label {
  font-weight: normal;
}

.btn-success {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-success:hover {
  background-color: #0062cc;
  border-color: #005cbf;
}



/* dataset css */

/* styles.css */

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.mt {
    margin-top: 20px;
}

.linkstyle {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e63946;
    width: 120px;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.pop {
    cursor: pointer;
    transform: scale(1.1);
    transition: 300ms ease-in-out;
}